PORT=
NODE_ENV=

# PostgreSQL
DATABASE_URL=

# Redis
REDIS_URL=

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=

# HuggingFace
HUGGINGFACE_API_KEY=

# Cloudinary (format: cloudinary://api_key:api_secret@cloud_name)
CLOUDINARY_URL=c